.header{
    background-color: #926FF6;
}
.navbar-brand{
    font-family:Poppins;
    font-size: 18px;
    font-weight: 800;
    line-height: 12px;
    text-align: left;
    color: white !important;
}
.nav-link{
    color: white !important;
}
h6, h1, h4, h3, h5{
    font-family:Poppins;
}

button{
    border: none;
    background-color: none;
}
.head{
    background-color: #926FF6 !important;
}
h6{
    color: #FFE074 !important;

}
h1{
    color: #FFFFFF !important;

}
h5{
    color: #FFFFFF !important;

}